<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">Fit Record</a>

     <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'results.new'}}Add Result{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
