<div class="input-append date datepicker" data-date-format="mm-dd-yyyy">
  {{!log view.date_string}}
    <input size="16" type="text" readonly><span class="add-on"><i class="icon-th"></i></span>
</div>