<table class="table">
  {{#each}}
    <tr>
      <th>Date</th>
      <th>Load</th>
      <th>Rep Scheme</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>{{date}}</td>
      <td>{{load}}</td>
      <td>{{repScheme}}</td>
      <td>{{notes}}</td>
    </tr>
  {{/each}}
</table>